[submodule "hVHDL_math_library"]
	path = source/hVHDL_fixed_point
	url = https://github.com/hVHDL/hVHDL_math_library.git
[submodule "source/hVHDL_microprogam_processor"]
	path = source/hVHDL_microprogram_processor
	url = https://github.com/hVHDL/hVHDL_microprogam_processor.git
